body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
    text-align: justify;
}

#navbar {
    position: fixed;
    border-right: solid;
    border-color: gray;
    height: 100%;
    width: 300px;
    min-width: 290px;
    top: 0px;
    left: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

#navbar li {
    display: block;
    padding: 10px;
    border-top: solid 1px;
    width: 100%;
    position: relative;
}

#navbar a {
    text-decoration: none;
    color: rgb(90, 90, 90);
    
}

#navbar header {
    text-align: center;
}

header {
    font-size: 1.8rem;
    color: black;
}
